@media (max-width: 1600px) {
   .side_padding {
      padding: 0 30px;
   }
}

@media (max-width: 1400px) and (min-width: 1200px) {
   .navbar_div .nav-item {
      padding: 0 0.3rem;
   }
}

@media (max-width: 1600px) {
   .banner_section .banner_line_div h3,
   .banner_line_div_second h3 {
      font-size: 60px;
   }
   .banner_section p {
      font-size: 16px;
   }
   .virtu_compnay h3 {
      font-size: 45px;
      line-height: normal;
   }
   .virtu_compnay p {
      font-size: 20px;
      line-height: normal;
   }
   .virtu_compnay h1 {
      font-size: 33px;
   }
   .service_heading_div h3 {
      font-size: 31px;
   }
   .service_card_div p {
      font-size: 17px;
      line-height: normal;
   }
   .compnay_icons_div h4 {
      font-size: 22px;
   }
   .meet_out_team h2 {
      font-size: 35px;
   }
   .delivering_div h3 {
      font-size: 37px;
      line-height: normal;
   }
   .contact_form_div h3 {
      font-size: 39px;
   }
   .contact_form_div p {
      font-size: 24px;
   }
   .newsletter h1 {
      font-size: 32px;
   }
   .footer_first p {
      font-size: 18px;
      line-height: normal;
   }
   .foote_second ul li a {
      font-size: 18px;
   }
   .whyCh_we_div h1 {
      font-size: 30px;
   }
   .whyCh_we_div h1 br {
      display: none;
   }
   .whyCh_we_div p {
      font-size: 22px;
   }
}

@media (max-width: 1400px) {
   /* font */

   /* font - 5px in 1400px mostly  big content */
   .banner_section .banner_line_div h3,
   .banner_line_div_second h3 {
      font-size: 50px;
   }

   .cards_div h3 {
      font-size: 1.5rem;
   }

   .virtu_compnay h1 {
      font-size: 35px;
   }

   .virtu_compnay h3 {
      font-size: 40px;
   }

   .compnay_icons_div h4 {
      font-size: 20px;
   }

   .virtu_compnay p {
      font-size: 20px;
      line-height: 40px;
   }

   .service_heading_div h2 {
      font-size: 38px;
   }

   .service_card_div h3 {
      font-size: 25px;
   }

   .user_testimonial_card h3 {
      font-size: 35px;
   }

   .clients_partners h4 {
      font-size: 20px;
   }

   .clients_partners h1 {
      font-size: 35px;
      font-weight: 700;
   }

   .newsletter h1 {
      font-size: 30px;
   }

   .banner_section p {
      font-size: 18px;
   }
   /* /font */
   .side_padding {
      padding: 0 50px;
   }
   .your_trust .sm_para {
      font-size: 25px;
   }
   .blog_div_content h1 {
      font-size: 22px;
      line-height: normal;
   }
   .bew_a_part_bonami h1 {
      font-size: 30px;
   }
   .valuble_heading h4 {
      font-size: 1.8rem;
   }
}

@media (max-width: 1390px) {
   .why-bonami-div {
      background-color: none;
      box-shadow: none;
   }
   .carry_inside_div {
      margin-top: 0;
   }
   .best_place_content h1 {
      font-size: 29px;
   }
}

@media (max-width: 1300px) {
   .service_heading_div h2 {
      line-height: normal;
   }
   .user_div img {
      margin-top: -51px;
   }
   .lap_image {
      display: none;
   }
   .pi-chart_inner {
      width: 150px;
      height: 150px;
   }
   .meet_out_team h3 {
      font-size: 1.2rem;
   }
   .chart_sm_div {
      width: 20px;
      height: 20px;
   }
   .pi-chart_inner h1 {
      font-size: 24px;
   }
}

@media (max-width: 1200px) {
   .cards_section .row {
      margin-top: 0;
   }
   .pi-chart_inner {
      width: 150px;
      height: 150px;
   }
}

@media (max-width: 1200px) {
   .banner_section .banner_line_div h3,
   .banner_line_div_second h3 {
      font-size: 45px;
   }

   .virtu_compnay h1 {
      font-size: 25px;
   }

   .virtu_compnay h3 {
      font-size: 30px;
      line-height: normal;
   }

   .compnay_icons_div h4 {
      font-size: 18px;
   }

   .virtu_compnay p {
      font-size: 18px;
      line-height: normal;
   }

   .service_heading_div h3 {
      font-size: 25px;
   }

   .service_heading_div h2 {
      font-size: 30px;
   }

   .service_card_div h3 {
      font-size: 20px;
   }

   .aboutUs_call_div h5 {
      font-size: 1.2rem;
   }

   .contact_form_div h3 {
      font-size: 43px;
   }
   .banner_section p {
      font-size: 17px;
   }

   .lp-none {
      display: none;
   }
   .contect_fisrt_div p {
      font-size: 16px;
   }
}

@media (max-width: 1150px) {
   .navbar_cente_div {
      display: none;
   }
   .your_trust .sm_para {
      font-size: 20px;
   }
   .professional_content_div p {
      font-size: 15px;
   }
}

@media (max-width: 980px) {
   /* font */
   /* font - 10px in 992px mostly  big content */
   .arrow_div {
      display: none;
   }
   .user_div img {
      margin-top: 30px;
   }
   .margin_footer {
      margin-top: 0px;
      padding-top: 0px;
   }
   .footer_first p {
      font-size: 16px;
   }
   .footer_first h5 {
      font-size: 14px;
   }
   .foote_second h5 {
      font-size: 14px;
   }
   .professional_content_div h2 {
      font-size: 23px;
   }
   .carry_on {
      font-size: 14px;
   }
   .carry_inside_div h5 {
      font-size: 15px;
   }
   .carry_inside_div h1 {
      font-size: 23px;
   }
   .carry_inside_div h3 {
      font-size: 20px;
   }
   .whyCh_we_div p {
      font-size: 16px;
   }
   .always_ready_section h3 {
      font-size: 20px;
   }
   .why-row {
      margin-top: -137px !important;
   }
   .pi-chart_inner {
      width: 130px;
      height: 130px;
   }
   .card_padding {
      padding: 0;
   }
   .input_text_div {
      height: 95px !important;
   }
}

@media (max-width: 730px) {
   .newsletter .row {
      margin-top: -69px;
   }
}

@media (max-width: 700px) {
   .form_newsLetter_div {
      display: block !important;
      text-align: center;
   }
   .newsletter .row {
      margin-top: -40px;
   }
   .newsletter input {
      width: 100%;
   }
   .bew_a_part_bonami_heading h1 {
      font-size: 24px;
   }
}

@media (max-width: 680px) {
   .aboutUs_call_div h5 {
      font-size: 1rem;
   }
   .what_out_customers h1 {
      font-size: 39px;
   }
   .side_padding2 {
      padding: 0;
   }
   .Leader {
      height: auto;
   }
   .is-size-133 {
      font-size: 76px;
   }
   .is-fw-500 {
      font-size: 30px;
   }
   .why-row {
      margin: 0 !important;
   }
}

@media (max-width: 550px) {
   .side_padding {
      padding: 0 30px;
   }
   .banner_section .banner_line_div h3,
   .banner_line_div_second h3 {
      font-size: 36px;
   }
   .banner_section p {
      font-size: 15px;
   }
   .bannerSlider_image {
      width: 60%;
   }
   .virtu_compnay h3 {
      font-size: 26px;
      line-height: normal;
   }
   .service_heading_div h2 {
      font-size: 22px;
   }
   .service_card_div p {
      font-size: 15px;
   }
   .meet_out_team h2 {
      font-size: 25px;
   }
   .delivering_div h3 {
      font-size: 24px;
   }
   .delivering_div ul li {
      font-size: 17px;
   }
   .contact_form_div h3 {
      font-size: 29px;
   }
   .contact_form_div p {
      font-size: 17px;
   }
   .what_out_customers h1 {
      font-size: 25px;
   }
   .what_out_customers h1 br {
      display: none;
   }
   .user_testimonial_card h3 {
      font-size: 25px;
   }
   .clients_partners h1 {
      font-size: 26px;
      font-weight: 700;
   }
   .clients_partners h1 br {
      display: none;
   }
   .newsletter h1 {
      font-size: 25px;
   }
   .second_footer p {
      font-size: 12px;
   }
   .navbar_icons_div {
      display: block !important;
      text-align: center;
   }
   .Successful_icons_div {
      display: block !important;
      align-items: center !important;
      text-align: center !important;
   }
   .contect_fisrt_div h2 {
      font-size: 32px;
   }
   .slick-next {
      right: -18px !important;
   }
   .user_testimonial_card span {
      font-size: 15px;
   }
   .virtu_compnay p {
      font-size: 15px;
   }
   .your_trust .sm_para {
      text-align: justify !important;
      font-size: 18px;
   }
   .blog_card_inner h5 {
      font-size: 15px;
      font-weight: normal;
      margin-right: 0.5rem;
   }
   .user_blog_div {
      width: auto;
      padding: 0.5rem 1rem;
      margin-top: -15px;
   }
   .blog_div_content h1 {
      font-size: 18px;
   }
   .blog_div_content a {
      font-size: 0.9rem;
   }
   .your_info_content ul li {
      font-size: 17px;
   }
   .bew_a_part_bonami_heading h1 {
      font-size: 20px;
   }
   .service_heading_div h2 {
      font-size: 20px;
   }
   .service_heading_div h2 {
      font-size: 20px;
   }
   .your_info_div h5 {
      font-size: 15px;
   }
   .best_place_content {
      padding: 0 1rem;
   }
   .best_place_content h1 {
      font-size: 22px;
   }
   .carry_inside_div h1 {
      font-size: 20px;
   }
   .service_heading_div h3 {
      font-size: 20px;
   }
   .whyCh_we_div h1 {
      font-size: 23px;
   }
   .heading_sm {
      font-size: 20px !important;
   }
   .progress_value_content_div {
      top: 4px;
   }
   /* .pi-chart_inner {
      width: 120px;
      height: 120px;
   } */
   .Leader_padding {
      padding: 0;
   }
}

@media (max-width: 600px) {
   .top_bar {
      display: none;
   }
   .carry_inside_div {
      width: auto;
   }
   .carry_on {
      padding-bottom: 0rem;
   }
   .software_re_content p {
      font-size: 17px;
   }
}

@media (max-width: 400px) {
   .newsletter h1 {
      font-size: 22px;
   }
}

@media (max-width: 330px) {
   .side_padding {
      padding: 0 10px;
   }
}
